<div class="mt-4">



    <div class="app">

        {{> header}}

        <div class="ml-4 mt-4 mr-4 mb-4" style="min-height: 600px;">

            <section class="h-100 bg-dark">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col">
                            <div class="card card-registration my-4">
                                <div class="row g-0">
                                    <div class="col-xl-6 d-none d-xl-block">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                            alt="Sample photo" class="img-fluid"
                                            style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="card-body p-md-5 text-black">
                                            <h3 class="mb-5 text-uppercase">Booking Form</h3>

                                            <div class="row">
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-outline">
                                                        <input type="text" id="form3Example1m"
                                                            class="form-control form-control-lg" />
                                                        <label class="form-label" for="form3Example1m">First
                                                            name</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-outline">
                                                        <input type="text" id="form3Example1n"
                                                            class="form-control form-control-lg" />
                                                        <label class="form-label" for="form3Example1n">Last name</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-outline">
                                                        <input type="text" id="form3Example1m1"
                                                            class="form-control form-control-lg" />
                                                        <label class="form-label" for="form3Example1m1">Mother's
                                                            name</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-outline">
                                                        <input type="text" id="form3Example1n1"
                                                            class="form-control form-control-lg" />
                                                        <label class="form-label" for="form3Example1n1">Father's
                                                            name</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-outline mb-4">
                                                <input type="text" id="form3Example8"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Example8">Address</label>
                                            </div>

                                            <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                                                <h6 class="mb-0 me-4">Gender: </h6>

                                                <div class="form-check form-check-inline mb-0 me-4">
                                                    <input class="form-check-input" type="radio"
                                                        name="inlineRadioOptions" id="femaleGender" value="option1" />
                                                    <label class="form-check-label" for="femaleGender">Female</label>
                                                </div>

                                                <div class="form-check form-check-inline mb-0 me-4">
                                                    <input class="form-check-input" type="radio"
                                                        name="inlineRadioOptions" id="maleGender" value="option2" />
                                                    <label class="form-check-label" for="maleGender">Male</label>
                                                </div>

                                                <div class="form-check form-check-inline mb-0">
                                                    <input class="form-check-input" type="radio"
                                                        name="inlineRadioOptions" id="otherGender" value="option3" />
                                                    <label class="form-check-label" for="otherGender">Other</label>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 mb-4">

                                                    <select class="select">
                                                        <option value="1">State</option>
                                                        <option value="2">Option 1</option>
                                                        <option value="3">Option 2</option>
                                                        <option value="4">Option 3</option>
                                                    </select>

                                                </div>
                                                <div class="col-md-6 mb-4">

                                                    <select class="select">
                                                        <option value="1">City</option>
                                                        <option value="2">Option 1</option>
                                                        <option value="3">Option 2</option>
                                                        <option value="4">Option 3</option>
                                                    </select>

                                                </div>
                                            </div>

                                            <div class="form-outline mb-4">
                                                <input type="text" id="form3Example9"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Example9">DOB</label>
                                            </div>

                                            <div class="form-outline mb-4">
                                                <input type="text" id="form3Example90"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Example90">Pincode</label>
                                            </div>

                                            <div class="form-outline mb-4">
                                                <input type="text" id="form3Example99"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Example99">Course</label>
                                            </div>

                                            <div class="form-outline mb-4">
                                                <input type="text" id="form3Example97"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Example97">Email ID</label>
                                            </div>

                                            <div class="d-flex justify-content-end pt-3">
                                                <button type="button" class="btn btn-light btn-lg">Reset all</button>
                                                <a type="button" class="btn btn-warning btn-lg ms-2"
                                                    href="/hotel/booking" role="butoon">Booking</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

        {{> footer}}

    </div>

    <!-- Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="profileModalLabel">Your Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder={{user.name}} aria-label="Username"
                            aria-describedby="basic-addon1" id="newName" name="newName">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder={{user.email}} aria-label="Username"
                            aria-describedby="basic-addon1" id="newEmail" name="newEmail">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="/user/{{user._id}}/edit-profile" class="btn btn-primary">Save changes</a>
                </div>
            </div>
        </div>
    </div>

</div>